$font_main: 'Lato', sans-serif;
$font_secondary1: 'Great Vibes', cursive;
$font_secondary2: 'Lora', serif;

$main_color: #222222;
$accent_color1: #53ae91;
$accent_color2: #b4b4b4;
$accent_color3: #ebebeb;
