.site-footer {
	height: 400px;
	background: black;
	.widget {
		.instagram-pics {
			padding-top: 70px;
			li {
				width: 14%;
				margin-right: 5px;
				&:last-child {
					margin-right: 0px;
				}
				img {
					width: 100%;
				}
			}
		}
	}
}

footer {
	.site-title {
		text-align: center;
		font-size: 2.75rem;
		margin: 40px auto;
		a {
			color: #fff;
		}
	}
}