#smallPreview[data-columns]::before {
	content: '2 .column.size-1of2';
}

.column {
	float: left;
}

.size-1of2 {
	width: 47%;
}

.home #smallPreview {
	display: flex;
	justify-content: space-between;
} 

article {
	// &:first-child {
	// 	width: 100%;
	// 	.more-link {
	// 		display: inline-block;
	// 	}
	// }
	.more-link {
		display: none;
	}
	border-bottom: 1px solid $accent_color3;
	margin-bottom: 70px;
	h3 {
		display: block;
		font-size: 14px;
		letter-spacing: 0.02em;
		margin: 0px 10px;
		text-align: center;
		text-transform: uppercase;
	}
	img {
		margin: 35px 0 10px;
		height: 60%;
		width: 100%;
	}
}

.author-date {
	color: $accent_color2;
	display: flex;
		justify-content: center;
		align-items: center;
	.decorative-dash {
		background-color: $accent_color2;
		margin: 0 7px;
		position: relative;
			top: 2px;
		width: 7px;
	}
}

.entry-title {
	&:first-child {
		font-size: 30px;
	}
	font-family: $font_secondary2;
	font-size: 20px;
	font-weight: regular;
	text-align: center;
	margin: 20px 0;

}

.entry-content {
	p {
		line-height: 1.5;
		margin: 25px 0;
		&:last-child {
			text-align: center;
			margin-bottom: 75px;
		}
	}
	.more-link {
		color: #fff;
		background-color: $accent_color1;
		font-size: 12px;
		text-transform: uppercase;
		padding: 7px 20px;
	}
}

.category-decorated {
	display: flex;
		align-items: center;
		justify-content: center;
	
}

.decorative-dash {
	background-color: $accent_color1;
	height: 1px;
	width: 45px;
}