.widget-area {
	section {
	    border: 6px solid #fff;
	    border-image: repeating-linear-gradient( 135deg, 
		$accent_color3, $accent_color3 .1em, 
		#fff 0, #fff .3em) 10;
		color: #222222;
		font-family: "Lato", sans-serif;
		font-size: 14px;
		line-height: 1.5;
		margin: 0 0 27px;
		padding: 20px 15px;
		text-align: center;
	}
}

// About Me Section Specific Styling
.auw_widget {
	h2.widget-title {
		font-family: "Lora", serif;
		display: block;
		text-transform: none;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
	}
}

.widget {
	.social-media {
		img {
			margin: 0 2px;
		}
	}
	.widget-title {
		display: flex;
		justify-content: center;
		align-items: center;
	    font-size: 14px;
	    letter-spacing: 0.02em;
	    margin-top: 0px;
	    text-align: center;
	    text-transform: uppercase;
		&:before {
			content: "";
			display: block;
			width: 30px;
			height: 1px;
			margin-right: 10px;
			background: $accent_color3;
		}
		&:after {
			content: "";
			display: block;
			width: 30px;
			height: 1px;
			margin-left: 10px;
			background: $accent_color3;
		}
	}
	.instagram-pics {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		li {
			line-height: 0px;
			img {
				width: 53px;
				margin-right: 3px;
				margin-bottom: 3px;
			}
			&:nth-child(3n) {
				img {
					margin-right: 0px;
				}
			}
		}
	}
}
.widget_categories {
	a {
		color: black;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			color: $accent_color2;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&:after {
				content: "";
				display: block;
				width: 100%;
				margin: 6px 0px;
				height: 1px;
				background: $accent_color3;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
}